flows_FIWARE_Challenge.local.json
[{"id":"d4d11c9e.3cf0a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"540678d2.cb2118","type":"fiware-instance","z":"","fw_protocol":"http","fw_host":"localhost","fw_port":"1026","fw_token":""},{"id":"a0c9761a.124b18","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"34dbe013.682118","type":"fiware-append","z":"d4d11c9e.3cf0a8","fw_server":"540678d2.cb2118","fw_name":"Localhost","x":691.0000305175781,"y":602.0000152587891,"wires":[]},{"id":"85d71e1b.fd30a8","type":"http request","z":"d4d11c9e.3cf0a8","name":"Sycube 30001","method":"GET","ret":"obj","url":"https://smartdata.wien/api/v1/public/Iot/Entities/context/SycubeStation30001","tls":"a0c9761a.124b18","x":380,"y":400,"wires":[["70454ac1.5801e4"]]},{"id":"70454ac1.5801e4","type":"function","z":"d4d11c9e.3cf0a8","name":"Convert to NGSI","func":"msg.payload = msg.payload.ret;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[[]]},{"id":"ec8b8368.80e3e","type":"template","z":"d4d11c9e.3cf0a8","name":"Add authentication","field":"headers","fieldType":"msg","format":"text","syntax":"plain","template":"{ \"Authorization\": \n     \"Bearer y348T9JUhSWzIjoMKIE5OCoy1xfoEgNlKoJnbO8H\" }\n","output":"json","x":390,"y":320,"wires":[["85d71e1b.fd30a8","554254ea.bdda7c","bc79a8a0.8357f"]]},{"id":"58daeac0.fcebdc","type":"inject","z":"d4d11c9e.3cf0a8","name":"Start query","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":322,"wires":[["ec8b8368.80e3e"]]},{"id":"554254ea.bdda7c","type":"http request","z":"d4d11c9e.3cf0a8","name":"Sycube 30002","method":"GET","ret":"obj","url":"https://smartdata.wien/api/v1/public/Iot/Entities/context/SycubeStation30002","tls":"a0c9761a.124b18","x":380,"y":460,"wires":[["75df5011.0ea858"]]},{"id":"75df5011.0ea858","type":"function","z":"d4d11c9e.3cf0a8","name":"Convert to NGSI","func":"msg.payload = msg.payload.ret;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["ba06fafc.ee9b4"]]},{"id":"ba06fafc.ee9b4","type":"join","z":"d4d11c9e.3cf0a8","name":"Join messages","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":600,"wires":[["34dbe013.682118"]]},{"id":"357a7a1c.6f765e","type":"http in","z":"d4d11c9e.3cf0a8","name":"Demo website","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["88893375.e7aaa"]]},{"id":"337bb087.caa4b","type":"http response","z":"d4d11c9e.3cf0a8","name":"","statusCode":"","headers":{},"x":705.0000305175781,"y":199,"wires":[]},{"id":"8e6f19f0.7048b","type":"http in","z":"d4d11c9e.3cf0a8","name":"Change trigger","url":"/change","method":"post","upload":false,"swaggerDoc":"","x":149,"y":715.0000152587891,"wires":[["d3af84e0.1ac87","78cbeaa0.8ced74"]]},{"id":"d3af84e0.1ac87","type":"http response","z":"d4d11c9e.3cf0a8","name":"","statusCode":"","headers":{},"x":409,"y":715.0000152587891,"wires":[]},{"id":"78cbeaa0.8ced74","type":"debug","z":"d4d11c9e.3cf0a8","name":"Show changes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":399,"y":795.0000152587891,"wires":[]},{"id":"97380273.e7b8b","type":"inject","z":"d4d11c9e.3cf0a8","name":"Start bike subscription","topic":"","payload":"{\"description\":\"Notify of changes of any bike station\",\"subject\":{\"entities\":[{\"idPattern\":\".*\",\"type\":\"WienSycubeStation\"}],\"condition\":{\"attrs\":[\"bikeCnt\",\"boxAvailCnt\",\"boxErrCnt\",\"boxOfflineCnt\",\"ebikeCnt\",\"emptyCnt\"]}},\"notification\":{\"http\":{\"url\":\"http://host.docker.internal:1880/change\"},\"attrs\":[\"bikeCnt\",\"boxAvailCnt\",\"boxErrCnt\",\"boxOfflineCnt\",\"ebikeCnt\",\"emptyCnt\"],\"metadata\":[\"dateCreated\",\"dateModified\"]},\"throttling\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":185.00003051757812,"y":890,"wires":[["cf5775d1.897b68"]]},{"id":"cf5775d1.897b68","type":"http request","z":"d4d11c9e.3cf0a8","name":"Send subscription to Orion","method":"POST","ret":"obj","url":"http://localhost:1026/v2/subscriptions","tls":"","x":503.0000305175781,"y":890,"wires":[["244a24ea.69b78c"]]},{"id":"244a24ea.69b78c","type":"debug","z":"d4d11c9e.3cf0a8","name":"Show result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":806.0000915527344,"y":891.0000152587891,"wires":[]},{"id":"88893375.e7aaa","type":"template","z":"d4d11c9e.3cf0a8","name":"Demo website content","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <body>\n        <h1>\n            FIWARE 2018 Digital Citizen demo\n        </h1>\n        <form action=\"\" method=\"post\" style=\"height:300px\">\n            <input\n                style=\"height:300px;width:300px\"\n                type=\"submit\" \n                name=\"update\" \n                value=\"Update\" />\n        </form>\n    </body>\n</html>","output":"str","x":443.3345031738281,"y":198.94851684570312,"wires":[["337bb087.caa4b"]]},{"id":"a0742eab.94b5d","type":"http in","z":"d4d11c9e.3cf0a8","name":"Act on demo button","url":"/demo","method":"post","upload":false,"swaggerDoc":"","x":153.3345489501953,"y":263.4264678955078,"wires":[["5e04de94.438f4","ec8b8368.80e3e"]]},{"id":"5e04de94.438f4","type":"http response","z":"d4d11c9e.3cf0a8","name":"","statusCode":"","headers":{},"x":652.3345642089844,"y":263.64337158203125,"wires":[]},{"id":"bc79a8a0.8357f","type":"http request","z":"d4d11c9e.3cf0a8","name":"Caruso850","method":"GET","ret":"obj","url":"https://smartdata.wien/api/v1/public/Iot/Entities/context/Caruso580","tls":"","x":371.31982421875,"y":511.8272247314453,"wires":[["a446d4c9.0046d"]]},{"id":"a446d4c9.0046d","type":"function","z":"d4d11c9e.3cf0a8","name":"Convert to NGSI","func":"msg.payload = msg.payload.ret;\nreturn msg;","outputs":1,"noerr":0,"x":606.8347473144531,"y":512.8236236572266,"wires":[["ba06fafc.ee9b4"]]}]