flows_FIWARE_Challenge.local.json
[{"id":"d4d11c9e.3cf0a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"540678d2.cb2118","type":"fiware-instance","z":"","fw_protocol":"http","fw_host":"localhost","fw_port":"1026","fw_token":""},{"id":"a0c9761a.124b18","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"34dbe013.682118","type":"fiware-append","z":"d4d11c9e.3cf0a8","fw_server":"540678d2.cb2118","fw_name":"Localhost","x":380,"y":700,"wires":[]},{"id":"85d71e1b.fd30a8","type":"http request","z":"d4d11c9e.3cf0a8","name":"Sycube 30001","method":"GET","ret":"obj","url":"https://smartdata.wien/api/v1/public/Iot/Entities/context/SycubeStation30001","tls":"a0c9761a.124b18","x":380,"y":400,"wires":[["70454ac1.5801e4"]]},{"id":"70454ac1.5801e4","type":"function","z":"d4d11c9e.3cf0a8","name":"Extract ret","func":"msg.payload = msg.payload.ret;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["ba06fafc.ee9b4"]]},{"id":"ec8b8368.80e3e","type":"template","z":"d4d11c9e.3cf0a8","name":"Add authentication","field":"headers","fieldType":"msg","format":"text","syntax":"plain","template":"{ \"Authorization\": \n     \"Bearer ZEhATMd7IlU8HCzuxHL7l7saiuXq5dGbxUXTcznt\" }\n","output":"json","x":390,"y":320,"wires":[["85d71e1b.fd30a8","554254ea.bdda7c"]]},{"id":"58daeac0.fcebdc","type":"inject","z":"d4d11c9e.3cf0a8","name":"Start","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["ec8b8368.80e3e"]]},{"id":"d4830c18.ac04","type":"debug","z":"d4d11c9e.3cf0a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":200,"wires":[]},{"id":"554254ea.bdda7c","type":"http request","z":"d4d11c9e.3cf0a8","name":"Sycube 30002","method":"GET","ret":"obj","url":"https://smartdata.wien/api/v1/public/Iot/Entities/context/SycubeStation30002","tls":"a0c9761a.124b18","x":380,"y":460,"wires":[["75df5011.0ea858"]]},{"id":"75df5011.0ea858","type":"function","z":"d4d11c9e.3cf0a8","name":"Extract ret","func":"msg.payload = msg.payload.ret;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["ba06fafc.ee9b4"]]},{"id":"ba06fafc.ee9b4","type":"join","z":"d4d11c9e.3cf0a8","name":"Join messages","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":600,"wires":[["34dbe013.682118"]]},{"id":"357a7a1c.6f765e","type":"http in","z":"d4d11c9e.3cf0a8","name":"Demo trigger","url":"/demo","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["d4830c18.ac04","337bb087.caa4b","ec8b8368.80e3e"]]},{"id":"337bb087.caa4b","type":"http response","z":"d4d11c9e.3cf0a8","name":"","statusCode":"","headers":{},"x":420,"y":120,"wires":[]},{"id":"8e6f19f0.7048b","type":"http in","z":"d4d11c9e.3cf0a8","name":"Change trigger","url":"/change","method":"post","upload":false,"swaggerDoc":"","x":150,"y":820,"wires":[["d3af84e0.1ac87","78cbeaa0.8ced74"]]},{"id":"d3af84e0.1ac87","type":"http response","z":"d4d11c9e.3cf0a8","name":"","statusCode":"","headers":{},"x":410,"y":820,"wires":[]},{"id":"78cbeaa0.8ced74","type":"debug","z":"d4d11c9e.3cf0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":900,"wires":[]}]